<%- include ('partials/_header.ejs') %>

<% if(userIN) { %>

    <!-----------------------------------  USER ROLE CLIENT ---------------------------------------->
    <% if(user.role === 'client') { %>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-11">
                <div class="card p-3 py-4">
                    
                    <!--Update Flash Messages-->
                    <div>
                    <% if(flashMessages) { %> 
                        <% if(flashMessages.success) { %>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <div class="alert alert-success"> <%= flashMessages.success %> </div>
                                </div>
                            </div>
                        <% } else if(flashMessages.error)  { %>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <div class="alert alert-danger"> <%= flashMessages.error %> </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
    
                    </div>
                    
                    <% if(user.image)  { %>
                    <div class="text-center"> <img src="<%= user.image %>" width="100" class="rounded-circle"> </div>     
                    <% } else if(!user.image) { %>
                    <div class="text-center"> <img src="/images/userProfile.png" width="100" class="rounded-circle"> </div>
                    <% } %>
                    
                    <div class="text-center mt-3"> <span class="bg-primary p-1 px-4 rounded text-white">Client</span>
                        <h3 class="mt-2 mb-0"> <%= user.name %> </h3>                                                                        
                        <% if(user.height) { %>
                        <p style="font-size: 14px;"><span style="color: #022c53 !important; font-weight: 700 !important;">Height: </span>  <%= user.height %> cm</p>
                        <% } %>
                        <% if(user.weight) { %>
                        <p style="font-size: 14px;"><span style="color: #022c53 !important; font-weight: 700 !important;">Weight: </span>  <%= user.weight %> kg</p>
                        <% } %>
                        <% if(user.phone) { %>
                        <p style="font-size: 14px;"><span style="color: #022c53 !important; font-weight: 700 !important;">Phone: </span>  <%= user.phone %></p>                            
                        <% } %>
                        <% if(user.email) { %>
                        <p style="font-size: 14px;"><span style="color: #022c53 !important; font-weight: 700 !important;">E-mail: </span>  <%= user.email %></p>
                        <% } %>
                        <% if(user.healtProblem) { %>
                        <h5 class="mt-2 mb-0" style="color: #022c53 !important;">Health Issue</h5>
                        <div class="px-4 mt-1" style="font-size: 11px;">
                            <p class="fonts"><%= user.healtProblem %></p>
                        </div>
                        <% } %>
                        <div class=" mt-3">
                            <button class="btn btn-outline-primary px-4" data-toggle="modal" data-target="#updateMyProfile">
                                Update Profile
                            </button> 
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MY PROGRAMS SECTİON -->
        <div class="row d-flex justify-content-start m-1">
            <div class="col-md-11 p-3 ml-3">
                <h3 style="color: #022c53 !important; font-weight: 700 !important;">My Programs</h3>
            </div>
        </div>
        <div class="row d-flex justify-content-start m-1">
            <div class="col-md-4">
                <div class="container">
                    <div class="myCardContainer">
                        <div class="myCardPhoto">
                            <img src="/images/myprograms.jpg">
                            <div class="myRecommendedWeek">8 Week</div>
                        </div>
                        <div class="myCardContent">
                            <p class="mytxt4">Program Name</p>
                            <p class="mytxt5">Program Category</p>
                            <p class="mytxt2">Program Content Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse temporibus deleniti adipisci quas ullam ipsum ut accusamus, dicta unde corrupti iusto atque voluptates dolorum aperiam nemo veritatis laborum illo alias.</p>                            
                        </div>
                        <div class="myCardFooter">
                            <a class="btn btn-outline-primary px-4" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
    
    <!-- Update Profile Modal -->
    <div class="modal fade" id="updateMyProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update My Profile</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/users/dashboard/<%= user._id %>?_method=PUT">
                    <div class="form-group">
                        <input type="hidden" name="enrolledPrograms" class="form-control" value="<%= user.enrolledPrograms %>">
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="role" class="form-control" value="<%= user.role %>">
                    </div>                    
                    <div class="form-group">
                        <input type="number" name="height" class="form-control" placeholder="Your Height">
                    </div>
                    <div class="form-group">
                        <input type="number" name="weight" class="form-control" placeholder="Your weight">
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" class="form-control" placeholder="Your phone">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="healtProblem" rows="2" placeholder="If you have, type your health issue"></textarea>
                    </div>
                    <!-- <div class="form-group">
                        <input type="file" class="form-control-file" name="image">
                    </div> -->
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>            
            </div>
        </div>
        </div>
    </div>
    <% } %>
    
    <!-----------------------------------  USER ROLE AdMIN ---------------------------------------->
    <% if(user.role === 'admin') { %>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-11">
                <div class="card p-3 py-4">
                    
                    <!--Update Flash Messages-->
                    <div>
                    <% if(flashMessages) { %> 
                        <% if(flashMessages.success) { %>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <div class="alert alert-success"> <%= flashMessages.success %> </div>
                                </div>
                            </div>
                        <% } else if(flashMessages.error)  { %>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <div class="alert alert-danger"> <%= flashMessages.error %> </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
    
                    </div>
                    
                    <% if(user.image)  { %>
                    <div class="text-center"> <img src="<%= user.image %>" width="100" class="rounded-circle"> </div>     
                    <% } else if(!user.image) { %>
                    <div class="text-center"> <img src="/images/userProfile.png" width="100" class="rounded-circle"> </div>
                    <% } %>
                    
                    <div class="text-center mt-3"> <span class="bg-primary p-1 px-4 rounded text-white">Admin</span>
                        <h3 class="mt-2 mb-0"> <%= user.name %> </h3>                                                                        
                                         
                        <div class=" mt-3">                            
                            <button class="btn btn-outline-primary px-4" data-toggle="modal" data-target="#addCategory">
                                Add Category
                            </button>
                            <button class="btn btn-outline-primary px-4" data-toggle="modal" data-target="#addProficiency">
                                Add Proficiency
                            </button>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Listing Users -->
        <div id="listingMyUserAdmin">
            <div class="row d-flex justify-content-start m-1">
                <div class="col-md-11 p-3 ml-3">
                    <h3 style="color: #022c53 !important; font-weight: 700 !important;">Listing Users</h3>
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Full Name</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Sign Up Date</th>
                        <th scope="col">Role</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                   <% for(let i = 0; i< users.length; i++) { %>
                    <tr class="myBg-Blue">
                        <td class="pl-lg-5 pl-md-3 pl-1 mytablename"> <%= users[i].name %> </td>
                        <td class="pt-3"> <%= users[i].email %> </td>
                        <td class="pt-3"> <%= users[i].createdAt %> </td>
                        <td class="pt-3"> <%= users[i].role %> </span></td>
                        <td class="pt-3">
                            <button class="btn-sm btn-warning" data-toggle="modal" data-target="#update<%= users[i]._id %>"> Upd </button>
                        </td>
                        <td class="pt-3">
                            <a class="btn-sm btn-danger">Del</a>
                        </td>
                    </tr>
                    <!-- Update User Modal -->
                    <div class="modal fade" id="update<%= users[i]._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Update My Profile</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="/users/dashboard/<%= users[i]._id %>?_method=PUT">
                                        <div class="form-group">
                                            <select class="form-control" name="role">
                                                <option>client</option>
                                                <option>trainer</option>                                                
                                            </select>
                                        </div>                                        
                                        <div class="d-flex justify-content-end">
                                            <button type="submit" class="btn btn-success">Update User </button>
                                        </div>                    
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>            
                                </div>
                            </div>
                        </div>
                    </div>
                   <% } %>
                </tbody>
            </table>
            <!-- Listing User Pagination -->
            <div>
                <nav>
                    <% if(pages > 0) { %>
                    <ul class="pagination flex-wrap d-flex justify-content-center">
                        <% for (let i = 1; i <= pages; i++) { %>
                            <% if(i == current) { %>
                            <li class="page-item active"><a class="page-link" href="/users/dashboard/?page=<%= i %>" data-abc="true"> <%= i %> </a></li>
                            <% }  else if (i < pages) { %>
                            <li class="page-item"><a class="page-link" href="/users/dashboard/?page=<%= i %>" data-abc="true"> <%= i %> </a></li>
                            <% } else { %>
                            <li class="page-item"><a class="page-link" href="/users/dashboard/?page=<%= i %>" data-abc="true"><i class="fa fa-angle-right"></i></a></li>
                            <% } %>
                        <% } %>                                                                                                                                                                        
                    </ul>
                    <% } %>
                </nav>
            </div>
        </div>
        <!-- listing Categories and Proficiencies-->
        <div id="listingCategoriesAdmin">
            <div class="row d-flex justify-content-start m-1">
                <div class="col-md-11 p-3 ml-3">
                    <h3 style="color: #022c53 !important; font-weight: 700 !important;">Listing Categories And Proficiencies</h3>
                </div>
            </div>
            <div class="row">
                <!-- Listing And Deleting Categories -->
                <div class="col-md-6">                                
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Category Name</th>                                                                                                             
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0; i< categories.length; i++) { %>
                            <tr class="myBg-Blue">
                                <td class="pl-lg-5 pl-md-3 pl-1 mytablename"> <%= categories[i].name %> </td>                                                                                                            
                                <td class="pt-3">
                                    <a class="btn-sm btn-danger" href="/categories/<%= categories[i]._id %>?_method=DELETE" onclick="return confirm('Are you sure ?')">Del</a>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <!-- Listing And Deleting Proficiencies -->
                <div class="col-md-6">                                
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Proficiency Name</th>                                                                                                             
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let i =0; i< proficiencies.length; i++) { %>
                            <tr class="myBg-Blue">
                                <td class="pl-lg-5 pl-md-3 pl-1 mytablename"> <%= proficiencies[i].name %> </td>                                                                                                            
                                <td class="pt-3">
                                    <a class="btn-sm btn-danger" href="/proficiencies/<%= proficiencies[i]._id %>?_method=DELETE" onclick="return confirm('Are you sure ?')">Del</a>
                                </td>
                            </tr>                                
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Profile Modal -->
    <div class="modal fade" id="updateMyProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update My Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/users/dashboard/<%= user._id %>?_method=PUT">
                        <div class="form-group">
                            <input type="hidden" name="role" class="form-control" value="<%= user.role %>">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="healtProblem" class="form-control" value="<%= user.healtProblem %>">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="enrolledPrograms" class="form-control" value="<%= user.enrolledPrograms %>">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="proficiency" class="form-control" value="<%= user.proficiency %>">
                        </div>
                        <div class="form-group">
                            <input type="number" name="height" class="form-control" placeholder="Your Height">
                        </div>
                        <div class="form-group">
                            <input type="number" name="weight" class="form-control" placeholder="Your weight">
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" class="form-control" placeholder="Your phone">
                        </div>                            
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>                    
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>            
                </div>
            </div>
        </div>
    </div>
    
    <!-- Add Category Modal -->
    <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/categories">
                        
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Category Name">
                        </div>                            
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>                    
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>            
                </div>
            </div>
        </div>
    </div>

    <!-- Add Proficiency Modal -->
    <div class="modal fade" id="addProficiency" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Proficiency</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/proficiencies">
                        
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Proficiency Name">
                        </div>                            
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>                    
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>            
                </div>
            </div>
        </div>
    </div>
    <% } %>
     

    <!-----------------------------------  USER ROLE TRAINER ---------------------------------------->
    <% if(user.role === 'trainer') { %>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-11">
                <div class="card p-3 py-4">
                    
                    <!--Update Flash Messages-->
                    <div>
                    <% if(flashMessages) { %> 
                        <% if(flashMessages.success) { %>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <div class="alert alert-success"> <%= flashMessages.success %> </div>
                                </div>
                            </div>
                        <% } else if(flashMessages.error)  { %>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <div class="alert alert-danger"> <%= flashMessages.error %> </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
    
                    </div>
                    
                    <% if(user.image)  { %>
                    <div class="text-center"> <img src="<%= user.image %>" width="100" class="rounded-circle"> </div>     
                    <% } else if(!user.image) { %>
                    <div class="text-center"> <img src="/images/userProfile.png" width="100" class="rounded-circle"> </div>
                    <% } %>
                    
                    <div class="text-center mt-3"> <span class="bg-primary p-1 px-4 rounded text-white">Trainer</span>
                        <h3 class="mt-2 mb-0"> <%= user.name %> </h3>                                                                        
                        <% if(user.height) { %>
                        <p style="font-size: 14px;"><span style="color: #022c53 !important; font-weight: 700 !important;">Height: </span>  <%= user.height %> cm</p>
                        <% } %>
                        <% if(user.weight) { %>
                        <p style="font-size: 14px;"><span style="color: #022c53 !important; font-weight: 700 !important;">Weight: </span>  <%= user.weight %> kg</p>
                        <% } %>
                        <% if(user.phone) { %>
                        <p style="font-size: 14px;"><span style="color: #022c53 !important; font-weight: 700 !important;">Phone: </span>  <%= user.phone %></p>                            
                        <% } %>
                        <% if(user.email) { %>
                        <p style="font-size: 14px;"><span style="color: #022c53 !important; font-weight: 700 !important;">E-mail: </span>  <%= user.email %></p>
                        <% } %>
                        <% if(user.proficiency) { %>
                        <h5 class="mt-2 mb-0" style="color: #022c53 !important; font-weight: 700 !important;">My Proficiencies</h5>
                            <% for (let i = 0; i < user.proficiency.length; i++) { %>
                            <p style="font-size: 14px;"> <%= user.proficiency[i].name %> </p> 
                            <% } %>
                        <% } %>                        
                        <div class=" mt-3">
                            <button class="btn btn-outline-primary px-4" data-toggle="modal" data-target="#updateMyProfile">
                                Update Profile
                            </button> 
                            <button class="btn btn-outline-primary px-4" data-toggle="modal" data-target="#addPrograms">
                                Add Program
                            </button>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Listing Programs -->            
        <div id="listingMyPrograms">
            <div class="row d-flex justify-content-start m-1">
                <div class="col-md-11 p-3 ml-3">
                    <h3 style="color: #022c53 !important; font-weight: 700 !important;">Listing My Programs</h3>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-start m-1">
            <% for(let i = 0; i < programs.length; i++) { %>
                <div class="col-md-4">
                    <div class="container">
                        <div class="myCardContainer">
                            <div class="myCardPhoto">
                                <img src="/images/myprograms.jpg">
                                <div class="myRecommendedWeek"><%= programs[i].recommendedWeek %> Week</div>
                            </div>
                            <div class="myCardContent text-center">
                                <p class="mytxt4"><%= programs[i].name %></p>
                                <p class="mytxt5"><%= programs[i].category.name %></p>
                                <!-- <p class="mytxt2"><%= programs[i].contents %></p> -->
                                <% for(let x = 0; x < 3; x++) { %>
                                    <p class="mytxt2 mb-2" style="font-size: 18px;">- <%= programs[i].contents[x] %></p>
                                <% } %>                                                            
                            </div>
                            <div class="ml-2 mb-3">
                                <a class="btn btn-outline-primary px-4 mb-3" href="/programs/<%= programs[i].slug %>">Read More</a>
                                <a class="btn btn-outline-danger ml-2 mb-3" href="/programs/<%= programs[i].slug %>?_method=DELETE" onclick="return confirm('Are You Sure')">
                                    Delete Program
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            <% } %>
            
        </div>


    </div>
    <!-- Update Profile Modal -->
    <div class="modal fade" id="updateMyProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update My Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/users/dashboard/<%= user._id %>?_method=PUT">
                        <div class="form-group">
                            <input type="hidden" name="role" class="form-control" value="<%= user.role %>">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="healtProblem" class="form-control" value="<%= user.healtProblem %>">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="enrolledPrograms" class="form-control" value="<%= user.enrolledPrograms %>">
                        </div>
                        <div class="form-group">
                            <input type="number" name="height" class="form-control" placeholder="Your Height">
                        </div>
                        <div class="form-group">
                            <input type="number" name="weight" class="form-control" placeholder="Your weight">
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" class="form-control" placeholder="Your phone">
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="proficiency">
                                <% for (let i = 0; i < proficiencies.length; i++) { %>
                                <option value="<%= proficiencies[i]._id %>"</option><%= proficiencies[i].name %></option>
                                <% } %>
                            </select>
                        </div>                            
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>                    
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>            
                </div>
            </div>
        </div>
    </div>
    <!-- Add Program Modal -->
    <div class="modal fade" id="addPrograms" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Proficiency</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/programs">                        
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Program Name">
                        </div>
                        <div class="form-group">
                            <input type="number" name="recommendedWeek" class="form-control" placeholder="Recommended Week">
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="category" aria-placeholder="Choose A Category">
                                <% for (let i = 0; i < categories.length; i++) { %>
                                <option value="<%= categories[i]._id %>"><%= categories[i].name %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="contents" class="form-control" placeholder="Program Content">
                        </div>
                        <div id="programContent"></div>
                        <!-- For Auth-->
                        <!--<div class="form-group">
                            <input type="hidden" name="role" class="form-control" value="<%= user.role %>">
                        </div> -->                                                
                        <div class="">
                            <input type="button" value="Add More Content" class="btn btn-primary" onclick="add_fields();">
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success">Create Program</button>
                        </div>                    
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>            
                </div>
            </div>
        </div>
    </div>

    <script>
        function add_fields() {
            document.getElementById('programContent').innerHTML += 
            `<div class="form-group"><input type="text" name="contents" class="form-control" placeholder="Program Content"></div>`;
        }
    </script>

    <% } %>
<% } %>

<%- include('partials/_footer.ejs') %>



